*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: sans-serif;
}

​h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

​input,
textarea,
button
 {
  font-size: 100%;
  font-family: inherit;
}

#card-row {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  justify-content: center;
 
  

}
.card {
  border: 3px solid var(--violet-web);
  border-radius: 10px;
  width: 20%;
  height: 10em;
  background-color: darkturquoise;
  opacity: .5;
  margin: 1em;
  text-align: center;
  min-width: 15em;


}
