  :root {
    --violet-web: #e22fcd;
    --imperial-red: #FF0A3B;
    --sea-green: #17C3B2;
    --bluetiful: #4B72E7;
    --black: #000000;
    --white: #FFFFFF;
  }
  
  header {
    height: 30vh;
  }

  /* ---------log in modal style----------- */
  #introModal{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    /* opacity: 0; */
    position: fixed;
    top: 0;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
    /* visibility: hidden; */
    width: 100%;
  }

  #introModalContent{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    left: 50%;
    padding: 1rem 1.5rem;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
  }

  #introModalHeaderWrap{
    display: flex;
    justify-items: flex-end;
  }

#introModalBanner{
  color: var(--black);
}

#introCloseBtn{
  cursor: pointer;
  font-size: 1.2rem;
}

#authLinkBtn{
  background: var(--violet-web);
  border: 2px solid var(--black);
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  height: 45px;
  margin: 13px 0;
  width: 85px;
}

#introModalLogo{
  height: auto;
  max-width: 125px;

}

  #heading,
  h3 {
    color: var(--white);
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  #inputDiv {
    display: flex;
    justify-content: center;
    margin: 15px;
  }

  #wordInput {
    display: block;
    background: var(--black);
    border: 2px solid var(--violet-web);
    border-radius: 10px;
    color: var(--white);
    padding: 10px;
  }

  body {
    background-image: url("../images/rainbow.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
  }

  /* #btnDiv {
    height: 8vh;
    position: relative;
    width: 100vw;
  } */
  
  #btn {
    /* position: absolute;
    /* left: 45%; */
    /* margin: auto 0;
    bottom: 0;  */
    background-image: url(../images/alexander-shatov-qt7S2QuAhJI-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }

  img {
    width: 100%;
    height: auto;
  }
  .card-column{
    border:solid;
    margin: 30px 30px;
    width: 50%;
    border-radius: 1px; 
  }
  .card-column:hover{
    box-shadow: 5px 0px 8px  rgb(106, 157, 190),  0 0 8px  rgb(106, 157, 190) ;

  }
  .artist-name{
    padding: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.801); 
    font-size: 20px;
  }
  .song-name{
    color: rgba(128, 128, 128, 0.918);
    font-size: 16px;
    padding: 10px;
  }

  #logoWrap{
    color: var(--white);
    display: flex;
    font-size: .8rem;
    justify-content: center;
    position:relative;
    z-index: -1;
  }

  .footerLogo{
    height: 40px;
    margin: 15px 10px;
    width:auto;
  }


  /*all colors just for demo*/