:root {
  --violet-web: #e22fcd;
  --black: #000000;
  --white: #FFFFFF;
  --pink:#ec9adf;
  --blue1:#acd6f8e5;
  --blue2: #4eadfae5;
}

  /* ---------spotify log in modal style----------- */
#introModal{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; 
  width: 100%;
  z-index: 2;
}

#introModalContent{
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  left: 50%;
  padding: 1rem 1.5rem;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 24rem;
}

#introModalHeaderWrap{
  display: flex;
  justify-items: flex-end;
}

#introModalBanner{
  color: var(--black);
}

#introCloseBtn{
  cursor: pointer;
  font-size: 1.2rem;
}

#authLinkBtn{
  background: var(--violet-web);
  border: 2px solid var(--black);
  border-radius: 10px;
  cursor: pointer;
  font-family: inherit;
  height: 45px;
  margin: 13px 0;
  width: 85px;
}

#introModalLogo{
  height: auto;
  max-width: 125px;
}

/*------styles and targets the body, #heading, and h3 elements---------*/
body {
  background-image: url("../images/rainbow.jpg");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

#heading,
h3 {
  color: var(--white);
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/*------gives style to elements in the header-------------*/
header {
  height: 30vh;
}

/*---------styles and targets the search input, dropdown, and search button elements---------*/
#inputDiv {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#wordInput {
  display: block;
  background: var(--black);
  border: 2px solid var(--violet-web);
  border-radius: 10px;
  color: var(--white);
  padding: 10px;
  height: 45px;
}

.dropdown {
  background-color: rgba(0, 0, 0, .5);
  font-size: 14px;
  cursor: pointer;
  border: 2px solid var(--violet-web);
  border-radius: 10px;  
  margin-left: 30px;
}

/*----------Dropdown button on hover & focus--------*/

.dropbtn {
  border: unset;
  border-radius: 7px;
  background-color:var(--black);
  color: #636c72;
  cursor: pointer;
  padding: 12px 16px;
  width: 160px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(226, 47, 205, 0.5);
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: fit-content;
}

/*--------Dropdown Content (Hidden by Default)--------*/
.dropdown-content {
  display: none;
  border-radius: 7px;
  padding: unset;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: all 0.5s ease-in-out;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
  display: block;
}

/*---------Links inside the dropdown---------*/
.dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:last-child{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.dropdown-content a:hover,
.dropdown-content a:focus{
  background-color: rgba(226, 47, 205, 0.5);
}

#btn {
  background-image: url(../images/alexander-shatov-qt7S2QuAhJI-unsplash.jpg);
  background-size: cover;
  border: 2px solid var(--violet-web);
  border-radius: 10px;
  /* margin-bottom: 50px; */
  margin-left: 30px;
  width: 44px;
  height: 44px;
}

.show {
  display:block;
}

/*-----Modal style-------*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

/*--------This style manages the position on the screen and sizing of the modal box---------*/
.modal-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: -1rem 1.5rem;
  width: 30rem;
  border-radius: 0.5rem;
}

/*-------Styling the header of the modal--------*/
.modal-header{
  height: 5vh;
  width: 100%;
  background-color:var(--blue1);
  border-radius: 0.5rem;
  padding: 8px;
  font-size: 18px;
}

/*---------Closing button style---------*/
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: var(--blue2);
  padding: 0px;
}

.close-button:hover {
  background-color: var(--pink);
}
/*---------This class makes the modal visible when we click on the button---------*/
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.error-message p{
  padding: 20px;
}

/*---------Styles and targets the cards*/
#card-row {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  justify-content: center;
  padding-top: 100px;
}

.card-column:hover{
  box-shadow: 5px 0px 8px  rgb(106, 157, 190),  0 0 8px  rgb(106, 157, 190) ;
}

.card {
  border: 3px solid var(--violet-web);
  border-radius: 10px;
  width: 20%;
  min-height: 10em;
  background-color: rgba(0, 206, 209, 0.8);
  margin: 1em;
  text-align: center;
  min-width: 15em;
}

.artist-name{
  padding: 10px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.801); 
  font-size: 20px;
}
.song-name{
  padding: 10px;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.918);
}

.album-cover{
  opacity: 1;
}

img {
  width: 100%;
  height: 200px;
  border-radius: 6px;
}


/*------styles the history elements---------*/
.history{
  color: var(--white);
  text-align: center;
  padding: 40px 10px 10px 10px;
  
  margin: 10px;
  font-size: 20px;
  border-bottom: 2px solid;
}

#card-row-history {
  display: flex;
  flex-wrap: wrap;
  list-style:none;
  justify-content: center;
}

/*--------styles the footer----------*/
#logoWrap{
  color: var(--white);
  display: flex;
  font-size: .8rem;
  justify-content: center;
  position:relative;
  z-index: -1;
}

.footerLogo{
  display: flex;
  height: 40px;
  margin: 15px 10px;
  width:auto;
}

@media screen and (max-width: 615px){

  #inputDiv{
    display:flex;
    flex-direction: column;
    align-items:center;
    /* flex-wrap: wrap; */
  }

  .recent-view{
    margin-top: 40px;
    
  }

  #btn,
  .dropdown {
    margin: 15px 10px;
  }

  .modal-content{
    width: 80%;
  }
}

@media screen and (max-width: 421px){
  #introModalContent{
    width: 80%;
  }

  footer{
    align-items: center;
    display: flex;
    flex-direction: column;
  }
 
}