  :root {
    --violet-web: #e22fcd;
    --imperial-red: #FF0A3B;
    --sea-green: #17C3B2;
    --bluetiful: #4B72E7;
    --black: #000000;
    --white: #FFFFFF;
  }
  
  header {
    height: 30vh;
  }

  

  #heading,
  h3 {
    color: var(--white);
    text-align: center;
    padding: 10px;
    margin: 5px;
  }

  #inputDiv {
    display: flex;
    justify-content: center;
    margin: 15px;
  }

  #wordInput {
    display: block;
    background: var(--black);
    border: 2px solid var(--violet-web);
    border-radius: 10px;
    color: var(--white);
    padding: 10px;
  }

  body {
    background-image: url("../images/rainbow.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
  }

  /* #btnDiv {
    height: 8vh;
    position: relative;
    width: 100vw;
  } */
  
  #btn {
    /* position: absolute;
    /* left: 45%; */
    /* margin: auto 0;
    bottom: 0;  */
    background-image: url(../images/alexander-shatov-qt7S2QuAhJI-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
  }

  img {
    width: 100%;
    height: auto;
  }
  .card-column{
    border:solid;
    margin: 30px 30px;
    width: 50%;
    border-radius: 1px; 
  }
  .card-column:hover{
    box-shadow: 5px 0px 8px  rgb(106, 157, 190),  0 0 8px  rgb(106, 157, 190) ;

  }
  .artist-name{
    padding: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.801); 
    font-size: 20px;
  }
  .song-name{
    padding: 10px;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.918);
  }
  /*all colors just for demo*/